<!DOCTYPE html>
<html>
<head>
  <title>Editar Dados do Usuario</title>
  <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>
<body>
    <h2>Editar Usuário</h2>
    <form action="/edit/<%= user.id_usuario %>" method="POST" id="editar" name="editar">
    <label>Nome:</label>
    <input type="text" name="nome" id="nome" value="<%= user.nome %>" required>
    <br/>    <br/>
    <label>E-mail:</label>
    <input type="email" name="email" id="email" value="<%= user.email %>" required>
    <br/>    <br/>
    <label>Nova Senha:</label>
    <input type="password" name="senha" id="senha" required>
    <br/>    <br/>
    <label>Confirmar Senha:</label>
    <input type="password" name="confSenha" id="confSenha" required>
    <br/>    <br/>
    <label>Gênero Favorito:</label>
    <input type="text" name="genero_fav" id="genero_fav" value="<%= user.genero_fav %>" required>
    <br/>    <br/>
    <button type="submit" id="alterar" name="alterar"> Alterar Cadastro </button>
  </form>
  <p><a href="/dashboard">Voltar</a></p>
</body>
<script src="/js/scriptEdit.js"></script>
</html>
